@using AutoMapper

@inject IMapper Mapper;

@model Artist

@{
    ViewData["Title"] = $"Nghệ sĩ: {Model.Name}";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="align-items-center col-12 d-flex mb-4">
                <img src="@Model.Avatar" alt="@Model.Name" class="rounded-circle" style="max-width: 64px;">
                <div class="d-flex flex-column ml-3">
                    <h1 class="ls-1 mb-0">@Model.Name</h1>
                    <span>Hiện có @Model.ArtistSongs.Count.ToString() bài hát</span>
                </div>
            </div>


            @foreach (var artistSong in Model.ArtistSongs)
            {
                var song = Mapper.Map<SongViewModel>(artistSong.Song);

                <div class="col-6 col-lg-2 col-sm-4">
                    @await Component.InvokeAsync("Song", song)
                </div>
            }
        </div>
    </div>
</div>