@model IEnumerable<SongViewModel>

<div class="mb-4 row">
    <div class="align-items-center col-12 d-flex justify-content-between mb-2">
        <h2 class="mb-0 text-uppercase">Hôm nay nghe gì?</h2>
    </div>

    @foreach (var song in Model)
    {
        <div class="col-6 col-lg-2 col-sm-4">
            @await Component.InvokeAsync("Song", song)
        </div>
    }
</div>