<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>CPMusic - @ViewData["Title"]</title>
    <meta content="" name="description" />
    <meta content="Chu Phong" name="author">
    <meta property="fb:app_id" content="647918692473856" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/argon.min.css?v=1.2.0" rel="stylesheet" type="text/css">
    <link href="~/css/global.css" rel="stylesheet">

    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <!-- Sidenav -->
    <partial name="Partials/_SidenavPartial" />

    <div class="main-content">
        <!-- Navbar -->
        <partial name="Partials/_NavbarPartial" />

        <!-- Main content -->
        <main class="container-fluid mt-4">
            @RenderBody()
        </main>
    </div>

    <!-- Core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-scroll-lock@3.1.3/jquery-scrollLock.min.js"></script>

    <!-- Optional JS -->
    @if (Convert.ToBoolean(ViewData["UseChartJs"]))
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script src="https://demos.creative-tim.com/argon-dashboard-pro/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    }

    <script src="https://demos.creative-tim.com/argon-dashboard-pro/assets/js/argon.min.js?v=1.2.0"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>