<footer class="container-fluid mt-6 mb-4">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <div class="copyright text-center text-lg-left text-muted">
                <span>Giao diện:</span>
                <a href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html" class="font-weight-bold" target="_blank">Argon</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="copyright text-center text-lg-right text-muted">
                <span>Lập trình:</span>
                <a href="https://fb.com/chuphong1999" class="font-weight-bold" target="_blank">Chu Phong</a>
            </div>
        </div>
    </div>
</footer>