@model Artist

@{
    ViewData["Title"] = $"Xóa nghệ sĩ {Model.Name}";
}

<div class="justify-content-center row">
    <div class="col-12">
        <div class="border-0 card">
            <div class="card-header">
                <h6 class="ls-1 mb-1 text-uppercase">Quản lý nghệ sĩ</h6>
                <div class="heading-title mb-0">Xóa nghệ sĩ @Model.Name</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form asp-action="Delete" asp-area="Admin" asp-controller="Artist" method="post">
                            <input type="hidden" asp-for="Id" />
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label class="control-label">Tên nghệ sĩ</label>
                                    <input asp-for="Name" class="form-control" disabled />
                                </div>
                                <div class="col-12 d-flex justify-content-between justify-content-md-end">
                                    <button class="btn btn-outline-danger" type="submit">Xóa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>