@model SongViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="justify-content-center row">
    <div class="col-12">
        <div class="border-0 card">
            <div class="card-header">
                <h6 class="ls-1 mb-1 text-uppercase">Quản lý bài hát</h6>
                <div class="heading-title mb-0">Thông tin bài hát @Model.Name</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3 mt-md-3">
                        <img class="d-block img-fluid mx-auto rounded-circle" src="@Model.Thumbnail" alt="@Model.Name" />
                        <audio class="mt-4 w-100" controls>
                            <source src="@Model.Url" type="audio/mpeg" />
                        </audio>
                    </div>
                    <div class="col-12 col-md-9">
                        <form asp-action="Edit" asp-area="Admin" asp-controller="Song" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" disabled />
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="OtherName" class="control-label"></label>
                                    <input asp-for="OtherName" class="form-control" disabled />
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="Artists" class="control-label"></label>
                                    <input asp-for="ArtistsToString" class="form-control" disabled />
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="Year" class="control-label"></label>
                                    <input asp-for="Year" class="form-control" disabled />
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="Country" class="control-label"></label>
                                    <input asp-for="Country" class="form-control" disabled />
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="Category" class="control-label"></label>
                                    <input asp-for="Category" class="form-control" disabled />
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="Views" class="control-label"></label>
                                    <input asp-for="Views" class="form-control" disabled />
                                </div>
                                <div class="col-12 d-flex justify-content-between justify-content-md-end">
                                    <a asp-action="Index" class="btn btn-outline-default">Hủy bỏ</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>